<header>
    <nav class="navbar navbar-expand-lg navbar-dark red fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="img/navbarlogo.png" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Streamers
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="view intro-1 hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <ul>
                    <li>
                        <div class="col-md-8 offset-md-2">
                            <img class="wow fadeInDown img-fluid" src="img/headerlogo.png" data-wow-delay="0.2s">
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-orange btn-lg wow fadeInUp " href="https://www.patreon.com/awesomo" data-wow-delay="0.2s" rel="nofollow">Support on Patreon</a>
                        <a class="btn btn-indigo btn-lg wow fadeInUp " href="auth/discord" data-wow-delay="0.2s" rel="nofollow">Login with Discord</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</header>
<div class="container">
    <div class="divider-new pt-5">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Streamers</h2>
    </div>
    <section id="streamers pb-5">
        <div class="col-12 row pt-3">
            {{#each streamers}}
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="card wow fadeIn">
                        <img class="img-fluid" src="img/{{this.channel}}.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{this.name}}
                                {{#if this.live}}
                                    <span id="{{this.channel}}" class="live-status badge red">Live</span>
                                {{else}}
                                    <span id="{{this.channel}}" class="live-status badge red"></span>
                                {{/if}}
                            </h4>
                            <hr>
                            <p class="card-text">{{this.about}}</p>
                            <a class="btn btn-danger" href="{{this.channel}}">Watch Now</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</div>
<footer class="page-footer center-on-small-only elegant-color-dark">
    <div class="container">
        <div class="row">
            <hr class="w-100 clearfix d-sm-none">
            <div class="col-lg-4 col-md-4 float-right">
                <img src="img/feinwaru_logo.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-lg-4 col-md-4">
                <h5 class="title font-bold mt-3 mb-4">Resources</h5>
                <ul>
                    <li>
                        <a href="../status">Status</a>
                    </li>
                    <li>
                        <a href="https://github.com/MattheousDT/awesom-o/wiki">Help & Support</a>
                    </li>
                    <li>
                        <a href="https://github.com/MattheousDT/awesom-o/issues">Feedback</a>
                    </li>
                    <li>
                        <a href="../terms">Terms</a>
                    </li>
                </ul>
            </div>
            <hr class="w-100 clearfix d-sm-none">
            <div class="col-lg-4 col-md-4 mx-auto">
                <h5 class="title font-bold mt-3 mb-4">About</h5>
                <ul>
                    <li>
                        <a href="../#about">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/mattheousdt/awesom-o">Fork on Github</a>
                    </li>
                    <li>
                        <a href="https://patreon.com/awesomo">Donate</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/southpark">/r/SouthPark Discord</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Join the /r/SouthPark Discord</h5>
            </li>
            <li>
                <a class="btn btn-indigo" target="_blank" href="https://discord.gg/southpark" rel="nofollow">Join Now!</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">© 2018 Copyright
            <a href="https://feinwaru.org/"> Feinwaru Software </a>
        </div>
    </div>
</footer>

<script>
    window.onload = function() {

        let live_status = document.getElementsByClassName("live-status");

        window.WebSocket = window.WebSocket || window.MozWebSocket;

        if (!window.WebSocket) {
            console.log("Your browser doesn't support WebSocket.");
            return;
        }

        let conn = new WebSocket("ws://79.97.226.172:80");

        conn.onopen = function() {

        }

        conn.onerror = function() {
            console.log("Error connecting to WebSocket server.");
        }

        conn.onmessage = function(msg) {

            let json;

            try {
                json = JSON.parse(msg.data);
            } catch (e) {
                console.log("Invalid JSON message: ", msg.data);
                return;
            }

            if (json.type == "live_update") {
                for (let i = 0; i < live_status.length; i++) {
                    if (json.data.channel == live_status[i].id) {
                        if (json.data.status == true) {
                            live_status[i].innerHTML = "Live";
                        } else {
                            live_status[i].innerHTML = "";
                        }
                        return;
                    }
                }
            }
        }

        setInterval(function() {
            if (conn.readyState != 1) {
                console.log("Unable to communicate with WebSocket server.");
            }
        }, 1000);
    }
</script>
